<!doctype html>
<html lang="en" ng-app="dataDash">
<head>
  <meta charset="utf-8">
  <title>iMsg LOL</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body >
<div ng-controller="pplCtrl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!--Sidebar content-->

        Search: <input ng-model="query"><br><br>
        <!--Sort by:
        <select ng-model="orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>-->
        </select>

      </div>
      <div class="col-md-6">
        <div>

          <!--Body content-->
          <h2 ng-show="query">You are searching for {{query}}</h2><br><br>
          <h2 ng-show="orderProp">Results sorted on {{orderProp}}</h2>

          <ul class="people">

            <li ng-repeat="person in people | filter:query | orderBy:orderProp">

              <a ng-href="../app/data/{{person.name}}.html" class="thumb"><p>{{person.name}}</p></a>
            </li>


          </ul>


        </div>
      </div>
    </div>


    <div ng-controller="SantiCtrl">

    </div>

</body>
</html>
