<main id="tools">
    <section id="messages">
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-3"></div>

                <div class="col-md-3 about">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a turpis vel ante aliquam rutrum nec quis odio. Mauris ullamcorper ullamcorper dui id euismod. Pellentesque tincidunt quis metus id tincidunt. Pellentesque tincidunt facilisis ipsum at iaculis. Suspendisse eu augue at magna fringilla malesuada iaculis non tellus. Proin tincidunt mauris vehicula risus scelerisque, ac laoreet massa fringilla. Fusce pellentesque turpis eros, ac sollicitudin enim imperdiet non. Ut malesuada scelerisque arcu nec varius. In eu diam non dui semper commodo eu a nunc. Quisque sed commodo nunc. Praesent sit amet imperdiet massa, non ultricies quam.



                </div>

                <div class="col-md-3 about">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a turpis vel ante aliquam rutrum nec quis odio. Mauris ullamcorper ullamcorper dui id euismod. Pellentesque tincidunt quis metus id tincidunt. Pellentesque tincidunt facilisis ipsum at iaculis. Suspendisse eu augue at magna fringilla malesuada iaculis non tellus. Proin tincidunt mauris vehicula risus scelerisque, ac laoreet massa fringilla. Fusce pellentesque turpis eros, ac sollicitudin enim imperdiet non. Ut malesuada scelerisque arcu nec varius. In eu diam non dui semper commodo eu a nunc. Quisque sed commodo nunc. Praesent sit amet imperdiet massa, non ultricies quam.



                </div>

                <div class="col-md-1"></div>

            </div>

        </div>
    </section>


</main>

