<main id="tools">
    <section id="search">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-2"></div>

                <div class="col-md-8 menu">

                    <form class="form-inline">
                        <div class="form-group">
                            <input class="form-control" ng-model="query" placeholder="Search..." id="query">
                        </div>

                        <div class="form-group">
                            <input class="form-control"  ng-model="date" placeholder="yyyy-mm-dd" id="date">
                        </div>

                        <button ng-show="query && !date"  ng-click="addTerm()" class="btn btn-default">Add query</button>
                        <button ng-show="date && !query" ng-click="addDate()" class="btn btn-default">Add date</button>
                        <button ng-show="date && query" ng-click="addTerm() && addDate()" class="btn btn-default">Add both</button>
<br>
                    </form>

                    <p ng-show="query && !date"> {{filtered.length}} messages were found containing your search query.</p>
                    <p ng-show="date && !query"> {{filtered.length}} messages were found for your selected date.</p>
                    <p ng-show="date && query"> {{filtered.length}} messages were found for your query on the selected date.</p>

                </div>

                <div class="col-md-2"></div>

            </div>

        </div>
    </section>

    <section id="messages">
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-2"></div>

                <div class="col-md-4 fade-in">
                    <h2>Messages</h2>

                    <div id="frame">
                        <ul>
                            <li ng-repeat="message in filtered = (messages | filter:query | filter:date)" class="messagesVis" ng-class="{other:message.fromMe== 0, me:message.fromMe==1}" >

    <span class="text-left animated bounceIn" ng-if="message.fromMe == 0">
    <h9></h9>
    <h9></h9>
    </span>
    <span ng-if="message.fromMe == 1">
    <h9></h9>
    </span>
                                <h9>{{message.text}}<br>
                                    {{message.date | date:'dd-MM-yy  HH:mm'}}</h9>
                            </li>
                        </ul>
                    </div>
                    <!--<div id="frame">-->
                    <!--<ul>-->
                    <!--<li ng-repeat="bericht in berichten | filter:query">-->

                    <!--<span class="text-left animated bounceIn" ng-if="bericht.fromMe == 0">-->
                    <!--<h9></h9>-->
                    <!--<h9></h9>-->
                    <!--</span>-->
                    <!--<span ng-if="bericht.fromMe == 1">-->
                    <!--<h9></h9>-->
                    <!--</span>-->
                    <!--<h9>{{bericht.text}}<br>-->
                    <!--{{bericht.date | date:'dd-MM-yy  HH:mm'}}</h9>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--</div>-->
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3 fade-in"><h2>Results<br>

                    <table>
                        <thead>
                        <tr>
                            <th><h4>Date</h4></th>

                            <th><h4>Count</h4></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="term in terms">
                            <td >{{term.text}}</td>

                            <td>{{term.count}}</td>
                        </tr>
                        </tbody>
                    </table>


                </h2></div>
                <div class="col-md-2"></div>



            </div>

        </div>
    </section>

    <!--// results-->

    <section id="results">
        <div class="container-fluid">
            <div class="row">


                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <img src="img/data.png" width="" alt="">
                </div>
                <div class="col-md-5">
                    <h2>Results table</h2>
                    <p>

                    </p>
                    <table>
                        <thead>
                        <tr>
                            <th><h4>Word</h4></th>

                            <th><h4>Count</h4></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="date in dates">
                            <td >{{date.date}}</td>

                            <td>{{date.count}}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>

</main>

